body{
	font-family:'raleway', arial, helvetica;
	font-size:14px;
	color:#37445a;
	font-weight:300;
	margin:0;


	background: #f7f7f7; /* Old browsers */
	background: -moz-linear-gradient(top,  #f7f7f7 0%, #fefefe 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #f7f7f7 0%,#fefefe 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #f7f7f7 0%,#fefefe 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#fefefe',GradientType=0 ); /* IE6-9 */


}
*{
	box-sizing:border-box;
}
a{
	text-decoration:none;
}
input:focus{
	outline:none;
}
img{
	max-width:100%;
	height:auto;
}
.clearfix:after {
    clear: both;
    content: " ";
    display: block;
    font-size: 0;
    height: 0;
    visibility: hidden;
}
.center{
	width:100%;
	max-width:960px;
	margin: 0 auto;
	
}
.logo{
	position:relative;
	margin-left:-60px;
	margin-bottom: 50px;
}
.logo:before{
	content: "";
    position: absolute;
    background-image: url(../images/pattern.svg);
    width: 305px;
    height: 305px;
    background-repeat: no-repeat;
    top: -150px;
    left: -118px;
    z-index: -1;
	
}
.content{
	position: relative;
    z-index: 3;
	padding-top: 120px;
	padding-left: 60px;
	padding-bottom: 200px;
}

.footer{
	position:absolute;
	z-index:2;
	bottom:0;
	left:0;
	right:0;
}
.body-wrap{
	position:relative;
	background-image:url(../images/buildings-bg.png);
	background-repeat:repeat-x;
	background-position:0 100%;
	min-height:100vh;
	border-bottom: 15px solid #ebf7fb;
}
.building{
	position:absolute;
	bottom: -3px;
}
.building-left{
	left:0;
}

.building-right{
	right:10%;
	width:325px;
}

.dates{
	font-size:40px;
}

.place{
	margin-bottom:35px;
	font-size:35px;
}

.form-container{
	border-top:2px solid #37445a;
	padding-top:30px;
}
.socials{
	float:right;
}

.socials a path{
	margin-right:10px;
	fill:#ef5a33;
	transition: fill 500ms linear
}
.socials a:hover path {
	fill:#37445a;
}

*::-webkit-input-placeholder { color: #d1dae0; font-style:italic; opacity: 1; }
*:-moz-placeholder {color: #d1dae0; font-style:italic; opacity: 1; }
*::-moz-placeholder { color: #d1dae0; font-style:italic; opacity: 1;}
*:-ms-input-placeholder { color: #d1dae0; font-style:italic; opacity: 1;}

input[type="text"],
input[type="email"]{
	width:100%;
	background: transparent;
    border: none;
    border-bottom: 2px solid #ef5a33;
	font-family:'raleway', arial, helvetica;
	font-size: 16px;
    color: #37445a;
}

.form-container #mc_embed_signup_scroll{
	width: 100%;
    max-width: 450px;
    position: relative;
}

.form-container  label{
	float: left;
    width: 35%;
	font-size:22px;
	color:#f05a33;
}

.form-container input[type="email"]{
	width: 65%;
	padding: 6px 10px 10px;
}

.form-container #mc_embed_signup_scroll .btn{
	position: absolute;
    right: 0;
    bottom: 5px;
	width: 25px;
    height: 25px;
    padding: 0;
    background-image: url(../images/mail.svg);
    background-repeat: no-repeat;
    background-color: transparent;
    border: 0;
    text-indent: -9999em;
	cursor:pointer;
}

.ice{
	position:absolute;
	bottom:0;
	left:0;
	right:0;
	z-index:-1;
	width:100%; 
	height:500px;
	background-image:url(../images/iceberg.png);
	background-repeat:no-repeat;
	background-position:50% 0;
}


/*media queries*/
@media (max-width: 1400px) {
	.ice{
		height:250px;
	}
}
@media (max-width: 1100px) {
	.content{
		padding-top: 60px;
		padding-left:20px;
		padding-right:20px;
	}
	.logo{
		margin-left: 0;
		margin-bottom:50px;
	}
	.logo:before{
		top: -120px;
		left: -90px;
		width:240px;
		height:240px;
		
	}
	.building-left{
		max-width:200px;
	}
	.building-right{
		max-width:250px;
	}
	.dates {
		font-size: 30px;
	}
	.place {
		font-size: 27px;
	}
}
@media (max-width: 700px) {
	.logo:before {
		top: -90px;
		left: -67px;
		width: 200px;
		height: 200px;
	}
	.content{
		padding-bottom: 300px;
	}
	.form-container{
		padding-top: 10px;
	}
	.socials{   
		float:none;
		margin-bottom: 20px;
	}
	.form-container #mc_embed_signup_scroll{
		max-width:inherit;
	}
	.form-container label {
		float: none;
		width:100%;
	}
	.form-container input[type="email"] {
		width: 100%;
		padding: 10px 10px 10px 0;
	}
	
	.building-left{
		display:none;
	}
	.building-right{
		right: 50%;
		margin-right: -125px;
	}
}



